*{margin: 0; padding: 0;}
.lists li {
    display: none;
}
.lists li.active {
    display: block;
}
/* .is_comp.js-load:after {
    display: none;
} */
.btn-wrap, .lists, .main {
    display: block;
}
.main {
    max-width: 640px;
    margin: 0 auto;
}
.lists {
    margin-bottom: 4rem;
}
.lists li {
    padding: 20px;
    background: #EEE;
}
.lists li:nth-child(2n) {
    background: #59b1eb;
    color: #fff;
}
.btn-wrap {
    text-align: center;
}

.btn-wrap {
    text-align: center;
    width: 200px; height: 50px; line-height: 50px;
    background: navy; margin: 0 auto;
}
.btn-wrap a{
    width: 100%; height: 100%; display: block;
    color: #fff; text-decoration: none;
}